* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    font-size: 62.5%;

    --White: #ffffff;
    --Light-Grey: #959eac;
    --Medium-Grey: #7c8798;
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(24, 88%, 51%);
}

body {
    font-size: 1.6rem;
    font-family: 'Overpass', sans-serif;
    width: 37.5rem;    
    background-color: var(--Very-Dark-Blue);
    margin: 0 auto;   
}

.container {
    background-color: var(--Dark-Blue);
    padding: 2.5rem;
    border-radius: 2rem;
    /* margin-top: 35%; */
}

.imageMainPage {
    margin-bottom: 2rem;
    background-color: hsl(213, 14%, 27%);
    padding: 1rem;
    border-radius: 50%;
}

h2 {
    color: var(--White);
    margin-bottom: 2rem;
}

p {
    font-size: 1.5rem;
    color: var(--Medium-Grey);
    margin-bottom: 3rem;
}

.allNumbers {
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    
}

.numbers {
    background-color: #3b444e;
    color: var(--Medium-Grey);
    padding: 1rem 2rem;
    border-radius: 50%;
    cursor: pointer;
}

.numbers:hover {
    background-color: var(--Orange);
    color: var(--White);
    transition: all 200ms;
    font-weight: 700;
}

.btnSubmit {
    background-color: var(--Orange);
    color: var(--White);
    padding: 1rem 2rem;
    border-radius: 3rem;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    display: block;
    margin: 0 auto;
}

.btnSubmit:hover {
    background-color: var(--White);
    color: var(--Orange);
    transition: all 200ms;
}

/* Thank you page */

.imageThanksPage {
    display: block;
    margin: auto;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.paragraphThanksPage {
    color: var(--Orange);
    text-align: center;
    background-color: hsl(213, 14%, 27%);
    padding: 1rem;
    border-radius: 2rem;
    width: fit-content;
    margin: 0 auto;
}

.titleThanksPage {
    text-align: center;
    margin-top: 2.5rem;
}

.paragraph-2ThanksPage {
    text-align: center;
}





