* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

:root {
    font-size: 62.5%;

    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
    --Orange: hsl(24, 88%, 51%);
}

body {
    font-size: 1.6rem;
    font-family: 'Overpass', sans-serif;
    width: 37.5rem;    
    background-color: var(--Very-Dark-Blue);
}

.container {
    background-color: var(--Dark-Blue);
}

h1 {
    color: var(--White);
}

p {
    font-size: 1.5rem;
    color: var(--Medium-Grey);
}

.paragraphThanksPage {
    color: var(--Orange);
}

.allNumbers {
    display: flex;
    justify-content: center;
    gap: 7rem;
}




